body {
    font-family: Arial, sans-serif;
}

h2 {
    text-align: center;
}

.list-group-item {
    cursor: pointer;
}

#carruselTexto {
    text-align: center;
    font-size: 1.2em;
    font-style: italic;
}

@media (min-width: 768px) {
    #opcionesLista {
        display: none;
    }
}
#opcionesLista {
    display: none;
}
